# Ignore API key file
key

# Ignore IntelliJ IDEA and Android Studio project files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Ignore macOS file
.DS_Store

# Ignore build directories
/build
/captures
.externalNativeBuild
.cxx
local.properties
